doctype html
html
  include partials/html-head
  body
    include partials/header

    main
      .card-form
        h2 Page Not Found
        p Sorry, the page you are looking for does not exist.
        a(href="/") Go back home

    include partials/footer
