doctype html
html
  include partials/html-head
  body
    include partials/header

    main
      .card-form
        h2 Change Password

        if error
          p(style="color: red") #{error}

        if success
          p(style="color: green") #{success}

        form(action="/change-password" method="POST")
          label(for="currentPassword") Current Password:
          input(type="password" name="currentPassword" required)

          label(for="newPassword") New Password:
          input(type="password" name="newPassword" required)

          label(for="confirmPassword") Confirm New Password:
          input(type="password" name="confirmPassword" required)

          button(type="submit") Update Password

        .link-container
          a(href="/profile") Back to Profile

    include partials/footer
