doctype html
html
  head
    title Hydration Logs
  body
    h1 Hydration Logs

    if logs.length
      ul
        each log in logs
          li #{log.user} drank #{log.amount}ml on #{log.date}
    else
      p No hydration records found.

    a(href="/tracker") Back to Home
