doctype html
html
  head
    title Login
    link(rel="stylesheet", href="/style.css")
  body
    header.header
      h1 Hydration Tracker

    main
      .card-form
        h2 Login
        form(action="/login" method="POST")
          label(for="identifier") Email or Username:
          input#identifier(type="text" name="identifier" required placeholder="Enter your email or username")

          label(for="password") Password:
          input#password(type="password" name="password" required placeholder="Enter your password")

          button(type="submit") Login

        .link-container
          a(href="/register") Don’t have an account? Register here

    footer
      p © 2025 Hydration Tracker. All rights reserved.
